<section class="poster">
    <div class="container">
      <div class="poster-content">
        <div class="poster-useful">
          <h1 class="poster-title">
            THE OOH NOO COLLECTION
          </h1>
          <p class="poster-text">Designed in Slovenia</p>
          @@include('./button/index.html', {
            "type":"button",
            "class":"poster-button button-open_js",
            "text":"explore now"
          })
        </div>
        <div class="poster-switch">
          <h2 class="poster-switch-title">
            01
          </h2>
          <ul class="poster-list">
            @@include('poster/poster-switch-button.html', {"class": "poster-switch-button_active", "label": "First"})
            @@include('poster/poster-switch-button.html', {"label": "Second"})
            @@include('poster/poster-switch-button.html', {"label": "Third"})
            @@include('poster/poster-switch-button.html', {"label": "Fourth"})
          </ul>
        </div>
        <img
          class="poster-transparent"
          src="/static/images/poster-1.png"
          alt="THE OOH NOO COLLECTION"
          width="635"
          height="461"
        />
      </div>
    </div>
    <div class="container">
      <div class="poster-bottom">
        <p class="poster-bottom-text">
          FREE (CONTINENTAL) USA SHIPPINGON ALL ORDERS OF $100 USD OR MORE!
        </p>
      </div>
    </div>
  </section>