.useful {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }
  
  .useful-content {
    padding: 31px 0 0 60px;
  }
  
  .useful-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    padding-left: 61px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 9px;
    text-transform: uppercase;
  
    color: #1e0606;
  }
  
  .useful-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
  .useful-button {
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
  
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    width: 326px;
    margin: 0;
    text-align: start;
    text-transform: capitalize;
    padding: 11px 0 11px 60px;
  
    color: #1e0606;
  
    background: none;
    transition: 0.5s;
  }
  
  .useful-button:hover {
    opacity: 0.7;
  
    background-color: rgba(112, 187, 220, 0.2);
  }
  
  .useful-button:focus {
    opacity: 0.7;
  
    background-color: rgba(112, 187, 220, 0.2);
  }
  
  .useful-button:active {
    opacity: 0.5;
  
    background-color: rgba(112, 187, 220, 0.2);
  }
  
  .useful-button_active {
    font-weight: bold;
    pointer-events: none;
    cursor: default;
  
    background-color: rgba(112, 187, 220, 0.2);
  }
  
  .useful-text {
    margin-top: 14px;
    margin-bottom: 15px;
    margin-left: 60px;
    max-width: 480px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  
    color: #1e0606;
  }
  
  .more-useful-button {
    margin-left: 60px;
    margin-top: 25px;
    width: 149px;
  }