@import "../colors";
@import "../vars";
@import "../mixins";

.useful {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  
  &__content {
    padding: 31px 0 0 60px;

    &__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 46px;
      padding-left: 61px;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 9px;
      text-transform: uppercase;
    
      color: $c_black--light;
    }

    &__list {
      list-style-type: none;
      padding-left: 0;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    &__button {
      display: block;
      border: none;
      cursor: pointer;
      outline: none;
    
      font-family: "Crimson Text";
      font-style: italic;
      font-weight: normal;
      font-size: 26px;
      line-height: 32px;
      width: 326px;
      margin: 0;
      text-align: start;
      text-transform: capitalize;
      padding: 11px 0 11px 60px;
    
      color: $c_black--light;
    
      background: none;
      transition: opacity $tr_duration $tr_easing, background-color $tr_duration $tr_easing;

      &:hover {
        opacity: 0.7;
      
        background-color: rgba($c_blue--main, 0.2);
      }
      
      &:focus {
        opacity: 0.7;
      
        background-color: rgba($c_blue--main, 0.2);
      }
      
      &:active {
        opacity: 0.5;
      
        background-color: rgba($c_blue--main, 0.2);
      }
      
      &_active {
        font-weight: bold;
        pointer-events: none;
        cursor: default;
      
        background-color: rgba($c_blue--main, 0.2);
      }
    }

    &__text {
      margin-top: 14px;
      margin-bottom: 15px;
      margin-left: 60px;
      max-width: 480px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    
      color: $c_black--light;
    }
  }

  &__button {
    margin-left: 60px;
    margin-top: 25px;
    width: 149px;
  }
}