<section class="useful container">
    <h2 class="useful__title hidden">
      USEFUL CONTENT BLOCK
    </h2>
    <img
      class="useful__img"
      src="/static/images/delivery.jpg"
      alt="useful"
      width="480"
      height="559"
    />
    <div class="useful__content">
      <h3 class="useful__content__title">
        Delivery
      </h3>
      <ul class="useful__content__list">
        <li class="useful__content__list-point">
          @@include('./button/index.html', {
            "type":"button",
            "class":"useful__content__button useful__content__button_active",
            "text":"delivery"
          })
        </li>
        <li class="useful__content__list-point">
          @@include('./button/index.html', {
            "type":"button",
            "class":"useful__content__button",
            "text":"guarantee"
          })
        </li>
        <li class="useful__content__list-point">
          @@include('./button/index.html', {
            "type":"button",
            "class":"useful__content__button",
            "text":"credit"
          })
        </li>
      </ul>
      <p class="useful__content__text">
        Some days i feel like i've been working on dlk my entire life and
        there are other days that i am completely shocked that four years
        have flown by. It's simply magical.
      </p>
      <p class="useful__content__text">
        What started as an outlet to deal with the traumatic loss of my
        husband, dlk has now become a truly happy place for me and i have
        you and all of the beautiful designers that we work with to thank!
      </p>
      @@include('./button/index.html', {
        "type":"link",
        "link": "#",
        "class":"useful__button",
        "text":"learn more"
      })
    </div>
  </section>