@import "../colors";
@import "../vars";
@import "../mixins";

.open-mobile-menu {
  overflow: hidden;

  .mobile-menu {
    top: 0;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  z-index: 2;
  top: -110%;
  width: 100%;
  height: 100vh;
  background-color: rgba($c_blue, 0.8);
  transition: top $tr_duration $tr_easing;

  &__button-close-menu {
    position: absolute;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    top: 22px;

    @include media_interval($media_mobile, $media_tablet) {
      top: 35px;
      left: calc(50% - 16px);
    }

    @include media_interval($media_mobile-medium, $media_mobile) {
      left: calc(50% - 26px);
    }

    @include media_interval($media_mobile-small, $media_mobile-medium) {
      left: calc(50% - 30px);
    }

    @include media_interval(0, $media_mobile-small) {
      left: calc(50% - 22px);
    }
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    background-color: $c_white;
    max-width: 375px;
    width: 100%;
  }

  &__head-list,
  &__nav-list {
    padding-left: 0;
    list-style-type: none;
  }

  &__head-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 25px 30px 26px;
    min-width: 130px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px 0 25px;
    min-width: 130px;

    &__item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
  }

  &__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: uppercase;


    color: $c_black--light;

    &_bold{
      font-weight: bold;
    }
  }
}
