// BUTTONS

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 22px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  color: #ffffff;
  background-color: #000000;
}

.button:hover {
  background-color: #c29974;
}

.button:focus {
  background-color: #c29974;
}

.button:active {
  background-color: #cfaf91;
}

.button:disabled {
  color: #e1e1e1;
  background-color: #c1c1c1;
  cursor: default;
}

.button-transparent {
  display: block;
  margin-right: 23px;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  transition: 0.3s;
}

.button-transparent:hover {
  opacity: 0.5;
}

.button-transparent:focus {
  opacity: 0.5;
}

.button-transparent:active {
  opacity: 0.2;
}
