@import "../colors";
@import "../vars";
@import "../mixins";

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 22px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  @include media_interval(0, $media_mobile) {
    font-size: 14px;
    line-height: 19px;
    padding: 8px 20px;
  }

  color: $c_white;
  background-color: $c_black;

  &:hover {
    background-color: $c_brown;
  }

  &:focus {
    background-color: $c_brown;
  }

  &:active {
    background-color: $c_brown--light;
  }

  &:disabled {
    color: $c_gray--light;
    background-color: $c_gray;
    cursor: default;
  }

  &_transparent {
    background: none;
    padding: 0;

    &:hover{
      opacity: 0.5;
      background: none;
    }

    &:focus {
      opacity: 0.5;
      background: none;
    }

    &:active {
      opacity: 0.2;
      background: none;
    }
  }
}
