@@if (type === 'link') {
  <a class="button @@class" href="@@link">@@text</a>
}

@@if (type === 'button') {
  <button class="button @@class" value="@@text">@@text</button>
}

<!-- @@if (type === 'button-transparent') {
  <button class="button-transparent @@class" aria-label="@@aria-label">@@contain</button>
} -->

@@if (type === 'submit') {
  <button class="button @@class" type="submit">@@text</button>
}

@@if (type === 'submit_disabled') {
  <button class="button @@class" type="submit" disabled>@@text</button>
}