// Category

.category {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 90px;
}

.category-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1e0606;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 25px;
}

.category-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  padding-left: 0;
  margin: 0;
}

.category-bottom {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 90px;
  margin-top: 12px;
}

.category-button {
  height: 37px;
  width: 37px;
  margin-right: 8px;
  padding: 1px 0 0 1px;

  background-color: rgba(112, 187, 220, 0.2);
}

.category-text {
  display: block;
  max-width: 580px;
  margin: 0 0 0 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}

/* ARTICLE */

.article-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 147px;
}

.article {
  margin-right: 57px;
}

.article-content-point {
  max-width: 543px;
  padding: 30px;
  position: relative;

  background-color: #e1f0f7;
}

.contacts {
  padding-bottom: 86px;
}

.article-title,
.contacts-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: -26px;

  color: #1e0606;
}

.article-add-title {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  margin-top: 2px;
  margin-bottom: 9px;

  color: #1e0606;
}

.article-text,
.contacts-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}

.article-text {
  margin-top: 0px;
  margin-bottom: 21px;
}

.article-button {
  width: 123px;
  margin-top: 21px;
  margin-bottom: 5px;
}

.contacts-text {
  margin-top: 10px;
}

.map {
  position: absolute;
  bottom: -116px;
}

.map-content {
  border: none;
}

/* Modal */

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  background-color: rgba(125, 151, 218, 0.8);
}

.modal-bg_open {
  display: flex;
}

.modal-window {
  width: 680px;

  padding: 21px 40px 42px;

  margin: auto;

  background-color: #e5eaf8;

  position: relative;
}

.button-close {
  position: absolute;
  top: 0px;
  right: -24px;
  cursor: pointer;
  background: none;
  outline: none;

  width: 15px;
  height: 15px;

  border: none;
  transition: 0.3s;
}

.button-close::before {
  content: "";
  position: absolute;
  top: 0;
  height: 17.5px;
  width: 2.4px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.button-close::after {
  content: "";
  position: absolute;
  top: 0;
  height: 17.5px;
  width: 2.4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.button-close:hover {
  opacity: 0.5;
}

.button-close:focus {
  opacity: 0.5;
}

.button-close:active {
  opacity: 0.3;
}