@import "../../components/vars";
@import "../../components/mixins";

@keyframes animation_car {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  1% {
    transform: translateX(-99%);
    opacity: 1;
  }

  98% {
    transform: translateX(99%);
    opacity: 1;
  }

  99% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animation_cloud {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  1% {
    transform: translateX(99%);
    opacity: 1;
  }

  98% {
    transform: translateX(-99%);
    opacity: 1;
  }

  99% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes animation_taxi {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  45% {
    transform: translateX(0);
  }

  55% {
    transform: translateX(0);
  }

  97% {
    transform: translateX(-150%);
    opacity: 1;
  }

  98% {
    transform: translateX(-150%);
    opacity: 0;
  }

  99% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes animation_text {
  0% {
    opacity: 0;
  }

  9% {
    opacity: 0;
    transform: translateY(5%);
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  21% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation_hand-1 {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(-45deg);
  }

  20% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes animation_hand-2 {
  0% {
    transform: rotate(148deg);
  }

  15% {
    transform: rotate(148deg);
  }

  20% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(0);
  }

  55% {
    transform: rotate(148deg);
  }

  100% {
    transform: rotate(148deg);
  }
}

.content {
  margin: 50px auto;
  max-width: 1400px;
  overflow: hidden;  

  @include media_interval($media_mobile, $media_tablet) {
    margin: 30px auto;
  }

  @include media_interval(0, $media_mobile) {
    margin: 20px auto;   
  }

  &__workspace {
    width: 100%;
    height: auto;
  }
}

.cars {
  &__car-1 {  
    animation-timing-function: linear;
    animation-name: animation_car;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    opacity: 0;
  }
  
  &__car-2 {
    animation-timing-function: linear;
    animation-name: animation_car;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    opacity: 0;
  }
  
  &__car-3 {
    animation-timing-function: linear;
    animation-name: animation_car;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    opacity: 0;
  }
  
  &__car-4 {
    animation-timing-function: linear;
    animation-name: animation_car;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    opacity: 0;
  }
}

.sky {
  &__cloud-1 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    opacity: 0;
  }

  &__cloud-2 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    opacity: 0;
  }

  &__cloud-3 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    opacity: 0;
  }

  &__cloud-4 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    opacity: 0;
  }

  &__cloud-5 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 50s;
    opacity: 0;
  }

  &__cloud-6 {
    animation-timing-function: linear;
    animation-name: animation_cloud;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    opacity: 0;
  }
}

.taxi {
  transform: translateX(150%);
  animation-timing-function: linear;
  animation-name: animation_taxi;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  opacity: 0;
}

.hand-1 {
  animation-timing-function: linear;
  animation-name: animation_hand-1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  transform-origin: 15.25% 75.7%;
}

.hand-2 {
  animation-timing-function: linear;
  animation-name: animation_hand-2;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  transform: rotate(148deg);
  transform-origin: 21.25% 58.7%;
}

.text-1 {
  animation-timing-function: linear;
  animation-name: animation_text;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  opacity: 0;
}

.text-2 {
  animation-timing-function: linear;
  animation-name: animation_text;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  opacity: 0;
  animation-delay: 5s;
}

.text-3 {
  animation-timing-function: linear;
  animation-name: animation_text;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  opacity: 0;
  animation-delay: 7s;
}

.text-4 {
  animation-timing-function: linear;
  animation-name: animation_text;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  opacity: 0;
  animation-delay: 9s;
}