@import "../colors";
@import "../vars";
@import "../mixins";

.category-card {
  padding: 0px;
  display: flex;
  margin: 5px 10px 18px;

  &__link {
    position: relative;
    width: 280px;
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    &[href="#1"] {
      background-color: $c_green;
    }

    &[href="#2"] {
      background-color: rgba($c_brown--card, 0.3);
    }

    &[href="/pages/toys/"] {
      background-color: $c_yellow;
    }

    &[href="#4"] {
      background-color: rgba($c_blue--dark, 0.17);
    }

    &[href="#5"] {
      background-color: rgba($c_pink, 0.25);
    }

    &[href="#6"] {
      background-color: rgba($c_blue, 0.2);
    }

    &:hover > .category-card__name {
      text-decoration-line: underline;
    }

    &:focus > .category-card__name {
      text-decoration-line: underline;
    }

    &:active > .category-card__name {
      text-decoration-line: underline;
      opacity: 0.5;
    }
  }

  &__img {
    position: absolute;
    left: auto;
    top: auto;
  }

  &__name {
    z-index: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    max-width: 192px;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: $c_white;
    text-shadow: 0px 0px 40px rgba($c_red, 0.25);
    transition: 0.3s;
  }
}
