<li class="category-card">
    <a class="category-card__link" href="@@link">
      <picture>
        <source srcset="/static/images/@@src.png, /static/images/@@src_2x.png 2x" media="(min-width: 1024px)">
          <source srcset="/static/images/@@src-tablet.png" media="(min-width: 465px) and (max-width: 1023px)">
          <source srcset="/static/images/@@src-mobile.png" media="(max-width: 464px)">
        <img
          class="category-card__img"
          src="/static/images/@@src.png"
          alt="@@name"
          width="280"
          height="270"
        />
      </picture>
      <h3 class="category-card__name">@@name</h3>
    </a>
  </li>