.blog {
  margin-top: 50px;
  margin-bottom: 11px;
  padding: 0;
}

.blog-list {
  padding-left: 0;

  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 -10px;
  padding: 0;
}

.blog-card {
  width: 400px;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

.blog-card-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #818181;

  margin-top: 15px;
  margin-bottom: 10px;
}

.blog-card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;

  color: #1e0606;

  margin: 10px 0;
  transition: 0.3s;
  outline: none;
}

.blog-card-title:hover {
  text-decoration-line: underline;
}

.blog-card-title:focus {
  text-decoration-line: underline;
}

.blog-card-title:active {
  opacity: 0.7;
}

.blog-card-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #1e0606;

  margin: 15px 0;
}