@import "../../components/vars";
@import "../../components/mixins";

@keyframes animation_stroke {
  0% {
    transform: translateX(-150%) scale(2.25);
    opacity: 0;
  }

  60% {
    transform: translateX(-10%) scale(1.25);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes animation_mountain {
  0% {
    transform: translateX(-150%) scale(1.5);
    opacity: 0;
  }

  40% {
    transform: translateX(-10%) scale(1.1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation_top-sky{
  0% {
    fill: #5D9CEC;
  }

  1% {
    fill: #ED5565;
  }

  20% {
    fill: #d17e31;
  }

  40% {
    fill: #FFCE54;
  }

  60% {
    fill: #A0D468;
  }

  80% {
    fill: #35619b;
  }

  100% {
    fill: #5D9CEC;
  }
}

@keyframes animation_bottom-sky {
  0% {
    fill: #5D9CEC;
  }

  40% {
    fill: #133663;
  }

  50% {
    fill: #0d2341;
  }

  60% {
    fill: #133663;
  }

  100% {
    fill: #5D9CEC;
  }
} 

@keyframes animation_bottom-sun {
  0% {
    fill: #f0eadb;
  }

  10% {
    transform: translateX(0) ;
  }

  20% {
    transform: translateX(5%) ;
    fill: #dfcb99;
  }

  40% {
    transform: translateX(25%) ;
    fill: rgb(240, 240, 240);
  }

  50% {
    fill: rgb(255, 255, 255);
  }

  60% {
    transform: translateX(25%) ;
    fill: rgb(240, 240, 240);
  }

  80% {
    transform: translateX(5%) ;
    fill:  #dfcb99;
  }

  90% {
    transform: translateX(0) ;
  }

  100% {
    fill: #FFCE54;

  }
}

@keyframes animation_bottom-mountain-1 {
  0% {
    fill: #545C66;
  }

  35% {
    fill: #272b30;
  }

  50% {
    fill: #000000;
  }

  65% {
    fill: #272b30;
  }

  100% {
    fill: #545C66;
  }
}

@keyframes animation_bottom-mountain-2 {
  0% {
    fill: #656D78;
  }

  35% {
    fill: #3d3d3d;
  }

  50% {
    fill: #272b30;
  }

  65% {
    fill: #3d3d3d;
  }

  100% {
    fill: #656D78;
  }
}

.svg {
  margin-top: 10px;
  margin-bottom: 50px;

  &__box {    
    overflow: hidden;

    @include media_interval(0, $media_mobile-medium) {
      margin-left: 20px;
    }

    @include media_interval(0, 475) {
      width: 100%;
      height: 100%;
    }
  }  

  &__text {
    &__stroke-1 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 2);
    }

    &__stroke-2 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 2);
    }

    &__stroke-3 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 2);
    }

    &__stroke-4 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    &__stroke-5 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    &__stroke-6 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    &__stroke-7 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 4);
    }

    &__stroke-8 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 4);
    }

    &__stroke-9 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 4);
    }

    &__stroke-10 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 4);
    }

    &__stroke-11 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    &__stroke-12 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    &__stroke-13 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
    }

    @for $i from 1 through 13 {
      .svg__text__stroke-#{$i} {
        animation-delay: $i + 0.5s;
        animation-duration: $i * 0.5s;
      }
    }
  }  
  
  &__picture-top {

    &__sky {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_top-sky;
      fill: #ED5565;
      animation-duration: 10s;
      animation-iteration-count: round($number: 4);
    }

    &__mountain-1 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_mountain;
      transform: translateX(-150%) scale(1);
      animation-duration: 9s;      
      animation-delay: 0.5s;
      animation-iteration-count: round($number: 3);
    }

    &__mountain-2 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_mountain;
      transform: translateX(-150%) scale(1);
      animation-duration: 9s;
      animation-iteration-count: round($number: 3);
    }
  }
  
  &__picture-bottom {
    &__sky {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-name: animation_bottom-sky;
      animation-duration: 12s;
      animation-iteration-count: round($number: 3);
    }

    &__sun {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-name: animation_bottom-sun;
      animation-duration: 12s;
      animation-iteration-count: round($number: 3);
    }

    &__mountain-1 {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-name: animation_bottom-mountain-1;
      animation-duration: 12s;
      animation-iteration-count: round($number: 3);
    }

    &__mountain-2 {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-name: animation_bottom-mountain-2;
      animation-duration: 12s;
      animation-iteration-count: round($number: 3);
    }

    &__stroke-1 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
      animation-duration: 5s;
    }

    &__stroke-2 {
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      animation-name: animation_stroke;
      transform: translateX(-150%) scale(2.25);
      animation-iteration-count: round($number: 3);
      animation-duration: 5s;
      animation-delay: 0.5s;
    }   
    
  }
}