@import "../colors";
@import "../vars";
@import "../mixins";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 46px;
  padding-right: 13px;
  padding-left: 10px;
  margin-bottom: 50px;

  &__logo {
    margin-top: 4px;
  }

  &__nav {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;

    color: $c_black--light;

    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__contacts {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    list-style-type: none;
  }

  &__button_search {
    margin-top: 4px;
    margin-right: 23px;
  }

  &__link {
    display: block;
    margin-right: 20px;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    transition: 0.3s;
    outline: none;

    color: $c_gray--dark;

    &_last {
      margin: -1px 0 0 0;
      padding: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
