<header class="header container">
  <a class="header__logo" href="/" aria-label="Logo">
      <object type="image/svg+xml" data="images/cat.svg">
        <img src="/static/images/logo.svg">
      </object>
  </a>
  <nav class="header__nav">
    <ul class="header__nav__list">
      @@include('header/header__link.html',{ 
        "link":"/pages/blog",
        "text":"blog" 
      }) 
      @@include('header/header__link.html',{
        "link":"/pages/catalog", 
        "text":"catalog" })
      @@include('header/header__link.html',{ 
        "link":"#", 
        "text":"about us" })
      @@include('header/header__link.html',{ 
        "link":"/pages/animation-scene", 
        "text":"animation" })
      @@include('header/header__link.html',{ 
        "link":"/pages/svg-animation", 
        "text":"svg" })
      @@include('header/header__link.html',{ 
        "link":"/pages/grid", 
        "text":"grid" })
    </ul>
  </nav>  
  <button class="button button_transparent header__link header__burger-button button-open-menu_js">menu</button>
  @@include('mobile-menu/index.html')
  <ul class="header__contacts">
    <li class="header__list-item">
      <button class="button button_transparent header__button_search">
        <img src="/static/images/search.png" alt="Search" aria-label="Search" />
      </button>
    </li>
    @@include('header/header__link.html', { "class":"header__link_last" ,
    "link":"/pages/contact-us", "text":"contact us" })
  </ul>
</header>
