@import "../../components/colors";
@import "../../components/vars";
@import "../../components/mixins";


.contact-us {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  &__form {
    padding: 20px 40px 42px;
  
    background-color: #e5eaf8;
  
    width: 680px;
  
    margin: 0;
  }

  &__description {
    max-width: 380px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    &__title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 34px;
    
      text-transform: uppercase;
    
      color: #c29974;
    }

    &__text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 20px;
    
      color: #1e0606;
    }
  }
}