@import "../components/colors";
@import "../components/vars";
@import "../components/mixins";

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cell-100 {
  display: block;
  max-width: 600px;
  width: 100%;
  margin-top: 0px;
}

.form-cell-50 {
  display: block;
  max-width: 290px;
  width: 100%;
  margin-top: 0px;
}

/* Form Button */
.form-button {
  margin-top: 5px;
  min-width: 106px;
}

.input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;

  &__input {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $c_black--light;

    background-color: $c_white;

    border: 2px solid rgba($c_black, 0.2);

    padding: 14px 20px;

    margin-top: 6px;

    &:hover {
      border: 2px solid rgba($c_black, 0.3);
      outline: none;
    }

    &:focus {
      border: 2px solid rgba($c_black, 0.2);
      outline: none;
    }
  }

  &__label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: $c_black--light;
  }

  &__textarea {
    width: 100%;
    height: 150px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: $c_black--light;

    background-color: $c_white;

    border: 2px solid rgba($c_black, 0.2);

    padding: 12px 20px;

    margin-top: 6px;
    margin-bottom: 0;

    &:hover {
      border: 2px solid rgba($c_black, 0.3);
      outline: none;
    }

    &:focus {
      border: 2px solid rgba($c_black, 0.2);
      outline: none;
    }
  }
}

/* checkbox */

.checkbox {
  display: flex;
  margin-bottom: 15px;

  &__label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $c_black--light;

    display: flex;
    align-items: center;
    user-select: none;
    padding-left: 0;

    &:hover {
      cursor: pointer;
      text-decoration-line: underline;
    }

    &::before {
      content: "";
      width: 19px;
      height: 19px;

      border: 2px solid $c_brown;
      border-radius: 3px;
      margin-right: 10px;
      transition: 0.3s;
    }

    &_modal {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: $c_black--light;

      margin-top: 20px;
      margin-right: auto;

      display: flex;
      align-items: center;
      user-select: none;
      padding-left: 0;

      &::before {
        margin-right: 15.5px;
        margin-top: -2px;
      }
    }
  }

  &__input:focus + .checkbox__label {
    text-decoration-line: underline;
  }

  &__input:checked + .checkbox__label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23C29974' d='M14.0997 0.27329C14.7772 0.645909 15.0243 1.49719 14.6517 2.17468L8.33999 13.6505C7.57527 15.0409 5.60401 15.1135 4.73921 13.783L0.826196 7.76298C0.404812 7.11469 0.58875 6.24755 1.23703 5.82617C1.88532 5.40479 2.75245 5.58872 3.17384 6.23701L6.44986 11.277L12.1983 0.825306C12.5709 0.147817 13.4222 -0.0993293 14.0997 0.27329Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 1.6px bottom 2.26px;
    background-color: $c_white;
  }

  &__input:disabled + .checkbox__label {
    text-decoration-line: none;
    cursor: default;

    color: $c_brown--dark-disabled;
  }

  &__input:disabled + .checkbox__label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23E1CDBA' d='M14.0997 0.27329C14.7772 0.645909 15.0243 1.49719 14.6517 2.17468L8.33999 13.6505C7.57527 15.0409 5.60401 15.1135 4.73921 13.783L0.826196 7.76298C0.404812 7.11469 0.58875 6.24755 1.23703 5.82617C1.88532 5.40479 2.75245 5.58872 3.17384 6.23701L6.44986 11.277L12.1983 0.825306C12.5709 0.147817 13.4222 -0.0993293 14.0997 0.27329Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: left 1.6px bottom 2.26px;
    border: 2px solid $c_brown--disabled;
    cursor: default;
  }
}

/* Radiobutton */

.radio {
  display: flex;
  margin-bottom: 10px;

  &__lable {
    margin-right: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: $c_black--light;

    display: flex;
    align-items: center;
    user-select: none;
    padding-left: 0;
    position: relative;

    &:hover {
      cursor: pointer;
      text-decoration-line: underline;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;

      display: block;
      border: 2px solid $c_brown;
      border-radius: 50%;

      margin-right: 10px;
    }
  }

  &__input:focus + .radio__lable {
    text-decoration-line: underline;
  }

  &__input:checked + .radio__lable::after {
    content: "";

    width: 12px;
    height: 12px;

    display: block;

    position: absolute;

    left: 4px;

    background-color: $c_brown;

    border-radius: 50%;
  }

  &__input:disabled + .radio__lable {
    text-decoration-line: none;
    cursor: default;

    color: $c_brown--dark-disabled;
  }

  &__input:disabled + .radio__lable::before {
    border: 2px solid $c_brown--disabled;
    cursor: default;
  }

  &__input:disabled + .radio__lable::after {
    content: "";

    width: 12px;
    height: 12px;

    display: block;

    position: absolute;

    left: 4px;

    background-color: $c_brown--disabled;

    border-radius: 50%;
  }
}
