.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cell-100 {
  width: 600px;
  margin-top: 0px;
}

.form-cell-50 {
  width: 290px;
  margin-top: 0px;
}

.form-lable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
}

.input-label-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #1e0606;
}

.input-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #1e0606;

  background-color: #ffffff;

  border: 2px solid rgba(0, 0, 0, 0.2);

  padding: 14px 20px;

  margin-top: 6px;
}

.input-text:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

.input-text:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.form-textarea {
  width: 100%;
  height: 150px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #1e0606;

  background-color: #ffffff;

  border: 2px solid rgba(0, 0, 0, 0.2);

  padding: 12px 20px;

  margin-top: 6px;
  margin-bottom: 0;
}

.form-textarea:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

.form-textarea:focus {
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

/* checkbox */

.modal-label-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #1e0606;

  margin-top: 18px;
  margin-right: auto;

  display: flex;
  align-items: center;
  user-select: none;
  padding-left: 0;
}

.input-label-checkbox {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;

  display: flex;
  align-items: center;
  user-select: none;
  padding-left: 0;
}

.assortment-lable-checkbox {
  display: flex;
  margin-bottom: 15px;
}

.assortment-lable-checkbox:hover {
  cursor: pointer;
}

.assortment-lable-checkbox:hover > .input-label-checkbox {
  text-decoration-line: underline;
}

.input-checkbox:focus + .input-label-checkbox {
  text-decoration-line: underline;
}

.input-label-checkbox::before {
  content: "";
  width: 19px;
  height: 19px;

  border: 2px solid #c29974;
  border-radius: 3px;
  margin-right: 10px;
  transition: 0.3s;
}

.input-checkbox:checked + .input-label-checkbox::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23C29974' d='M14.0997 0.27329C14.7772 0.645909 15.0243 1.49719 14.6517 2.17468L8.33999 13.6505C7.57527 15.0409 5.60401 15.1135 4.73921 13.783L0.826196 7.76298C0.404812 7.11469 0.58875 6.24755 1.23703 5.82617C1.88532 5.40479 2.75245 5.58872 3.17384 6.23701L6.44986 11.277L12.1983 0.825306C12.5709 0.147817 13.4222 -0.0993293 14.0997 0.27329Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 1.6px bottom 2.26px;
  background-color: #ffffff;
}

.input-checkbox:disabled + .input-label-checkbox::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3e%3cpath fill='%23E1CDBA' d='M14.0997 0.27329C14.7772 0.645909 15.0243 1.49719 14.6517 2.17468L8.33999 13.6505C7.57527 15.0409 5.60401 15.1135 4.73921 13.783L0.826196 7.76298C0.404812 7.11469 0.58875 6.24755 1.23703 5.82617C1.88532 5.40479 2.75245 5.58872 3.17384 6.23701L6.44986 11.277L12.1983 0.825306C12.5709 0.147817 13.4222 -0.0993293 14.0997 0.27329Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 1.6px bottom 2.26px;
  border: 2px solid #e1cdba;
  cursor: default;
}

.input-checkbox:disabled + .input-label-checkbox {
  text-decoration-line: none;
  cursor: default;

  color: #908484;
}

/* Radiobutton */

.form-lable-radio {
  display: flex;
  margin-bottom: 10px;
}

.input-label-radio {
  margin-right: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;

  display: flex;
  align-items: center;
  user-select: none;
  padding-left: 0;
  position: relative;
}

.form-lable-radio:hover {
  cursor: pointer;
}

.form-lable-radio:hover > .input-label-radio {
  text-decoration-line: underline;
}

.input-radio:focus + .input-label-radio {
  text-decoration-line: underline;
}

.input-label-radio::before {
  content: "";
  width: 20px;
  height: 20px;

  display: block;
  border: 2px solid #c29974;
  border-radius: 50%;

  margin-right: 10px;
}

.input-radio:checked + .input-label-radio::after {
  content: "";

  width: 12px;
  height: 12px;

  display: block;

  position: absolute;

  left: 4px;

  background-color: #c29974;

  border-radius: 50%;
}

.input-radio:disabled + .input-label-radio::before {
  border: 2px solid #e1cdba;
  cursor: default;
}

.input-radio:disabled + .input-label-radio::after {
  content: "";

  width: 12px;
  height: 12px;

  display: block;

  position: absolute;

  left: 4px;

  background-color: #e1cdba;

  border-radius: 50%;
}

.input-radio:disabled + .input-label-radio {
  text-decoration-line: none;
  cursor: default;

  color: #908484;
}

/* Form Button */
.form-button {
  margin-top: 20px;
  min-width: 106px;
}