@import "../colors";
@import "../vars";
@import "../mixins";

.partners {
  margin-bottom: 113px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    align-items: center;
  }

  &__link {
    outline: none;
    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
