@import "../colors";
@import "../vars";
@import "../mixins";

.partners {
  margin-bottom: 50px;

  @include media_interval(0, $media_mobile) {
    padding: 0 20px 0 10px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    align-items: center;
    
    &__item {
      @include media_interval(0, $media_mobile) {
        margin: 0 auto 26px;
        width: 150px;
      }
    }
  }

  &__link {
    outline: none;
    transition: opacity $tr_duration $tr_easing;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.mail {
  @include media_interval($media_mobile, $media_tablet) {
    width: 106px;
    height: 33px;
  }

  @include media_interval(0, $media_mobile) {
    width: 131px;
    height: 42px;
  }
}

.apple {
  @include media_interval($media_mobile, $media_tablet) {
    width: 98px;
    height: 33.5px;
  }

  @include media_interval(0, $media_mobile) {
    width: 109px;
    height: 38px;
  }
}

.eltex {
  @include media_interval($media_mobile, $media_tablet) {
    width: 118.5px;
    height: 25px;
  }

  @include media_interval(0, $media_mobile) {
    width: 149px;
    height: 32px;
  }
}

.owox {
  @include media_interval($media_mobile, $media_tablet) {
    width:115.8px;
    height: 22px;
  }

  @include media_interval(0, $media_mobile) {
    width: 143px;
    height: 26px;
  }
}    