@import "../colors";
@import "../vars";
@import "../mixins";

.pagenumber {
  margin-top: 0;
  margin-bottom: 54px;

  @include media_interval($media_mobile, $media_tablet) {
    margin-bottom: 40px;
  }

  @include media_interval(0, $media_mobile-medium) {
    margin: 7px 20px 42px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    margin: 0;

    @include media_interval($media_mobile, $media_tablet) {
      align-items: flex-start;
    }

    &__item {
      margin: 0 32px;
      width: 10px;

      @include media_interval(0, $media_mobile) {
        margin: 0 25px;
      }

      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }

      &:last-child {
        margin-left: auto;
        margin-right: 6px;
        margin-top: 2px;
      }
    }
  }

  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: color $tr_duration $tr_easing, opacity $tr_duration $tr_easing;

    color: $c_black--light;

    @include media_interval(0, $media_mobile) {
      font-size: 14px;
      line-height: 17px;
    }

    &_active {
      color: $c_brown;
    }

    &:hover {
      opacity: 0.5;
    }

    :focus {
      opacity: 0.5;
    }

    :active {
      opacity: 0.9;
      color: $c_brown;
    }
  }

  &__button {
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    padding: 0;

    & path {
      transition: fill $tr_duration $tr_easing, fill-opacity $tr_duration $tr_easing;
    }

    &:hover path {
      fill: $c_brown;
      fill-opacity: 1;
    }

    &:focus path {
      fill: $c_brown;
      fill-opacity: 1;
    }

    :active path {
      fill: $c_brown;
      fill-opacity: 0.5;
    }
  }
}
