@import "../colors";
@import "../vars";
@import "../mixins";

.footer {
  background-color: $c_gray--footer-dark;

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 110px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
    width: 100%;
    min-height: 555px;
  }
  &__title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $c_gray--footer-light;

    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;

    padding-bottom: 23px;
    border-bottom: 1px solid $c_gray--footer;
  }

  &__link {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 22px;
    color: $c_white;
    margin-bottom: 15px;
    margin-top: 0;
    transition: 0.3s;
    outline: none;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }

    &_gray {
      color: $c_gray--footer-link;
      opacity: 1;
      transition: 0.3s;

      &:hover {
        text-decoration-line: underline;
        opacity: 1;

        color: $c_white;
      }

      &:focus {
        text-decoration-line: underline;
        opacity: 1;

        color: $c_white;
      }

      &:active {
        text-decoration-line: underline;
        opacity: 1;

        color: $c_white;
      }
    }
  }

  &__nav {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 20px;

    &-list {
      padding: 0;
      margin: 3px 0 0 1px;
      list-style-type: none;
    }
  }

  &__customer {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 20px;

    &-list {
      padding: 0;
      margin: 3px 0 0 1px;
      list-style-type: none;
    }
  }

  &__contact {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &-list {
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
    }

    &-link {
      display: block;
      height: 30px;
      width: 30px;
      margin-right: 10px;
      transition: opacity $tr_duration $tr_easing;
      outline: none;

      &:hover {
        opacity: 0.5;
      }

      &:focus {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.2;
      }
    }

    &__form {
      display: flex;
      margin-bottom: 25px;

      &-email {
        width: 299px;
        padding: 9px 15px;
        margin-right: 0;
        outline: none;
        border: none;

        background-color: $c_gray--footer;
      }
    }
  }

  &__button {
    margin: 0;
    width: 81px;
  }

  &__additional {
    &__list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 26px;
      margin-top: 10px;
      padding-left: 0;
      border-top: 1px solid $c_gray--footer;
      width: 100%;
      list-style-type: none;

      &-item {
        margin-left: 20px;
        width: 380px;
        margin-bottom: 0;
      }
    }
  }

  &__rating {
    width: 380px;
    margin-bottom: 0;

    &__list {
      padding: 0;
      margin: 0;
      display: flex;
      list-style-type: none;

      &-title {
        margin-right: 28px;
      }

      &-item {
        padding: 0;
        margin-right: 6.5px;
        box-sizing: border-box;
      }
    }

    &__button {
      display: block;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-top: 1px;
      margin-right: 0;
      text-align: center;
      transition: 0.3s;
    }
  }
}
