@import "../colors";
@import "../vars";
@import "../mixins";

.assortment {
  margin-top: 50px;
  margin-bottom: 30px;

  background-color: rgba($c_blue, 0.2);

  &__form {
    display: flex;
    padding: 41px 0 25px;
    flex-wrap: wrap;
    position: relative;

    &__legend {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      padding-left: 1px;

      color: $c_black--light;
    }

    &__fieldset {
      border: none;
      padding: 0;
      margin-right: 5px;
    }
  }

  &__button {
    align-self: start;
    width: 95px;
    margin: 36px 0 0 56px;
  }
}

/* form COST */

.cost {
  width: 216px;
  padding-left: 9px;
  margin-left: 0;

  &__position {
    margin: 15px 0 0 7px;
  }

  &__input {
    position: relative;
    margin: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    width: 188px;
    height: 4px;
    outline: none;
    border: none;
    background-color: $c_brown;
  }

  &__input::-webkit-slider-thumb {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // -o-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity $tr_duration $tr_easing;

    background-color: $c_white;
    border: 8.35px solid $c_brown;

    &:hover {
      opacity: 0.95;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &__lable {
    display: flex;
    justify-content: space-between;
    margin: 12px 0 0 -5px;

    &__point {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;

      color: $c_black--light;
    }
  }
}

/* form COLOR */

.color {
  margin-left: 87px;
  padding-left: 2px;

  &__list {
    list-style-type: none;
    padding-left: 1px;
    padding-top: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

/* form DELIVERY*/

.delivery {
  margin-left: 115px;
  padding-left: 3px;

  &__list {
    list-style-type: none;
    padding-left: 2px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
}

/* form AMOUNT */

.amount {
  margin-left: 60px;
  padding-left: 3px;

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    display: flex;
  }
}

/* Button Radio */

.button-radio {
  &__lable {
    position: relative;
  }

  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: $c_black--light;

    margin: 0;
    width: 80px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    background-color: $c_white;

    &:hover {
      cursor: pointer;
      color: #877379;
      background-color: #eddeeb;
    }
  }

  &__input:checked ~ .button-radio__text {
    cursor: pointer;
    color: $c_black--light;
    background-color: #f3d0db;
  }
}
