<section class="assortment">
  <h2 class="assortment__title hidden">assortment form</h2>
  <form
    name="assortment"
    class="assortment__form container"
    method="get"
    action="#"
  >
    <fieldset class="assortment__form__fieldset cost">
      <legend class="assortment__form__legend">Cost</legend>
      <p class="cost__position">
        <input
          type="range"
          class="cost__input"
          name="cost"
          min="0"
          max="500"
          value="100"
        />
        <label class="cost__lable">
          <span class="cost__lable__point">0</span>
          <span class="cost__lable__point">500</span>
        </label>
      </p>
    </fieldset>
    <fieldset class="assortment__form__fieldset color">
      <legend class="assortment__form__legend">Color</legend>
      <ul class="color__list">
        <li class="color__list-item">
          <label class="checkbox">
            <input
              class="checkbox__input hidden"
              type="checkbox"
              name="color"
              value="black"
              checked
            />
            <span class="checkbox__label">Black</span>
          </label>
        </li>
        <li class="color__list-item">
          <label class="checkbox">
            <input
              class="checkbox__input hidden"
              type="checkbox"
              name="color"
              value="blue"
            />
            <span class="checkbox__label">Blue</span>
          </label>
        </li>
        <li class="color__list-item">
          <label class="checkbox">
            <input
              class="checkbox__input hidden"
              type="checkbox"
              name="color"
              value="green"
            />
            <span class="checkbox__label">Green</span>
          </label>
        </li>
        <li class="color__list-item">
          <label class="checkbox">
            <input
              class="checkbox__input hidden"
              type="checkbox"
              name="color"
              value="white"
            />
            <span class="checkbox__label">White</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="assortment__form__fieldset delivery">
      <legend class="assortment__form__legend">Delivery</legend>
      <ul class="delivery__list">
        <li class="delivery__list-item">
          <label class="radio">
            <input
              class="radio__input hidden"
              type="radio"
              name="delivery"
              value="free"
            />
            <span class="radio__lable">Free shipping</span>
          </label>
        </li>
        <li class="delivery__list-item">
          <label class="radio">
            <input
              class="radio__input hidden"
              type="radio"
              name="delivery"
              value="fast"
              checked
            />
            <span class="radio__lable">Fast shipping</span>
          </label>
        </li>
      </ul>
    </fieldset>
    <fieldset class="assortment__form__fieldset amount">
      <legend class="assortment__form__legend">Amount</legend>
      <ul class="amount__list">
        <li class="amount__list-item">
          <label class="button-radio__lable">
            <input
              class="button-radio__input hidden"
              type="radio"
              name="amount"
              value="0-5"
              checked
            />
            <span class="button-radio__text">0-5</span>
          </label>
        </li>
        <li class="amount__list-item">
          <label class="button-radio__lable">
            <input
              class="button-radio__input hidden"
              type="radio"
              name="amount"
              value="10-20"
            />
            <span class="button-radio__text">10-20</span>
          </label>
        </li>
        <li class="amount__list-item">
          <label class="button-radio__lable">
            <input
              class="button-radio__input hidden"
              type="radio"
              name="amount"
              value="20-50"
            />
            <span class="button-radio__text">20-50</span>
          </label>
        </li>
      </ul>
    </fieldset>
    @@include('./button/index.html', { "type":"submit",
    "class":"assortment__button", "text":"apply" })
  </form>
</section>
