@import "../colors";
@import "../vars";
@import "../mixins";

.path {
  margin-top: 56px;
  margin-bottom: 10px;

  @include media_interval(0, $media_mobile-medium) {
    margin-top: 29px;
    margin-left: 20px;
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0 0 7px 0;

    color: $c_black--light;

    @include media_interval($media_mobile, $media_tablet) {
      font-size: 36px;
      line-height: 44px;
    }

    @include media_interval(0, $media_mobile) {
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.breadcrumbs {
  &__list {
    padding-left: 0;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0;

    @include media_interval($media_mobile, $media_tablet) {
      padding-top: 4px;
    }

    @include media_interval(0, $media_mobile) {
      padding-top: 4px;
    }

    &__item {
      display: block;
      margin: 0 10px;

      @include media_interval(0, $media_mobile) {
        margin: 0 7px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    transition: text-decoration-line $tr_duration $tr_easing, opacity $tr_duration $tr_easing;
    outline: none;

    min-width: 35px;

    color: $c_black--light;

    @include media_interval(0, $media_mobile) {
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      opacity: 0.5;
      text-decoration-line: underline;
    }

    &:focus {
      opacity: 0.5;
      text-decoration-line: underline;
    }

    &:active {
      opacity: 0.2;
      text-decoration-line: none;
    }

    &_active {
      opacity: 0.5;
    }
  }

  &__svg {
    @include media_interval(0, $media_mobile) {
      width: 6px;
      height: 12px;
      margin-top: -7px;
    }
  }
}
