@import "../colors";
@import "../vars";
@import "../mixins";

.path {
  margin-top: 56px;

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0 0 7px 0;

    color: $c_black--light;
  }
}

.breadcrumbs {
  &__list {
    padding-left: 0;
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;

    &__item {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    transition: 0.3s;
    outline: none;

    min-width: 35px;

    color: $c_black--light;

    &:hover {
      opacity: 0.5;
      text-decoration-line: underline;
    }

    &:focus {
      opacity: 0.5;
      text-decoration-line: underline;
    }

    &:active {
      opacity: 0.2;
      text-decoration-line: none;
    }

    &_active {
      opacity: 0.5;
    }
  }
}
